* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink-beige: #DF8585;
    --cream: #EFDFBB;
    --hot-pink: #FC5984;
    --baby-blue: #94D5BF;
    --watermelon-pink: #FC5164;
    --green: #91D17B;
    --red: #970C21;
}

body {
    background-color: var(--cream);
}

h1 {
    color: var(--hot-pink);
    text-align: center;
    margin: 0.8em;
    text-transform: uppercase;
    font-size: 3em;
}

.page-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

#player-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--pink-beige);
    border-radius: 15px;
    width: 300px;
    height: 300px;
    padding: 1.5em;
}

#game-container {
    background-color: var(--pink-beige);
    border-radius: 15px;
    padding: 1.5em;
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cream);
    width: 33.333%;
    height: 33.333%;
    font-size: 80px;
    cursor: pointer;
}

.square:hover {
    background-color: var(--cream);
}

.player-name-input {
    border: none;
    background-color: var(--cream);
    color: var(--watermelon-pink);
    padding: 0.5em 1em;
    border-radius: 15px;
    box-shadow: inset 0 0 6px #A39695;
}

.player-name-input:focus {
    outline: var(--watermelon-pink);
}

#start-game-btn {
    background-color: var(--hot-pink);
    border: none;
    border-radius: 15px;
    padding: 0.5em;
    color: var(--cream);
}

#restart-game-btn {
    background-color: var(--baby-blue);
    border: none;
    border-radius: 15px;
    padding: 0.5em;
    color: var(--watermelon-pink);
}

#restart-game-btn:hover, #start-game-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}


.player-one {
    color: var(--green);
}

.player-two {
    color: var(--red);
}

.result-turns-display-container {
    background-color: var(--pink-beige);
    border-radius: 15px;
    width: 300px;
    height: 300px;
    padding: 1.5em;
    display: flex;
    align-items: center;
}

#message {
    font-size: 20px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    color: var(--cream);
    font-size: 2em;
    font-weight: bold;
}